@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello World!</h1>
    <h2>Hello Program, this is the World. Thank you for the greeting!</h2>
    <p>This greeting is occuring at @ViewData["TimeStamp"]</a>.</p>
</div>
